

h1 {
  font: Georgia;
  text-transform: uppercase;
  color: #111111;
  text-shadow: 2px 2px 7px #444444;
}

body {
  text-align: center;
    background-image: linear-gradient(to left, #2324123, white, #A9C4DE);

}

img{
  border-radius: 16em
}
